/* HTML5 Boilerplate  */
@font-face {font-family: 'Century Gothic'; src: url('../font/GOTHIC.TTF');}
*{
  font-family: "Century Gothic";
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}

html {
  font-size: 75%;
  -webkit-text-size-adjust: 75%;
  -ms-text-size-adjust: 75%;
}
html, button, input, select, textarea {
  font-family: Arial;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #a0a0a0;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #a0a0a0;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
a{text-decoration: none;}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre, code, kbd, samp {
  font-family: Arial;
  
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}

form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled], input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

.imgBanner{
  
  
  margin-top: 2em;
  margin-bottom: 2em;
  
  width: 100%;
  
}

/*mis classes*/

#divInstituciones{
  text-align: center;
}

.accordion{
  
  max-width: 750px;
}
.logoLegado{
  margin: 1em;
width: 149px;
margin-top: 0;
}
.logoCmn{
  height: 70px;
  margin: 1em;
  width: 173px;
}
.logoDibam{
  height: 70px;
  margin: 1em;
  width: 149px;
}
.logoCA{
height: 49px;
margin: 1.7em;
width: 200px;
}
.logoGobierno{
  height: 70px;
  margin: 1em;
  width: 77px;
  
}
#divRegistro{
  
  text-align: center;
  
  
}

.btnGrnade{
  background-color: #cccccc;
  
  border:solid 1px #c2c2c2;
  
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  
  padding-top: 1em;
  padding-bottom: 1em;
  
  width: 100px;
}
.ventana{
  width: 400px;
  
}

#main{
  max-width: 800px;
}

.footer{
  
 /* margin-top: 100px;*/
}
/*mis classes*/





@media only screen and (min-width: 35em) {
  
  
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@media print {
  * {
    visibility: hidden;
  }
  iframe{
    visibility: visible;
    height: 1380px !important;
    left: 0;
    position:absolute;
    top: 0;
    width: 100%;
  }
  .ventana{
    height: 1380px !important;
  } 
  .ui-dialog .ui-dialog-content {
position: absolute;
border: 0;
padding: 0em 0em;
background: none;
overflow: none;
zoom: 0;
}
  
}
html, body {
height: 100%;
}


/*#background{
 

  max-width: 1366px;
  background-image:  url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 70%;
}*/
.imgBanner .banner{
width:100%;
max-width: 600px;

}


#fondo{

position: absolute;
z-index: -1;
}
#imgFondo{

  width: 850px;
}

.tituloLeft{

  text-align: left; 
}
.grafica{
  display: inline-block;
  max-width: 365px;
  width: 30%;
}

.grafica img{

  width: 100%;
}

#todoLoDemas{
  display: inline-block;
  vertical-align: top;
  width: 65%;
}
.page{

 /* display: inline-block;
  zoom:1;*/
}
.footer{

  text-align: center;
}



.divImagenPalacio{
  background-color: #c2c2c2;
  border: solid 4px #fff;
  float: left;
  width: 128px;
  height: 128px;
text-align: center;
}

.imagenPalacioPort{
  height: 128px;
  
}
.imagenPalacioLand{
  position: relative; 
  top: 40px;
  width: 128px;

}
.overlay {

  background-color: #A0A0A0;
  display: none;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3000;

}

#imgFull{

  top: 0;
  position: absolute;
  z-index: 3001;
}
.fotosBy
{
  color: #fff;
  background-color: #000;
  left: 80%;
  position: absolute;
  z-index: 3002;
}
.ui-widget-content a{
  color: #009BE1 !important;
}

.imprimir{
  right: 3em !important;
}